{% extends "account/base_manage.html" %}
{% block head_title %}Log out{% endblock head_title %}

{% block content %}
<h1>Log out?</h1>
<p class="lead">You'll need to log in again to manage your clubs and events.</p>
<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <button type="submit">Log out</button>
</form>
<p class="auth-foot"><a href="{% url 'home' %}">Stay logged in</a></p>
{% endblock content %}
